{% extends "layout.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<h1>Login</h1>
<form action="/user/login/" method="post">
    {% csrf_token %}
    {% if form.errors %}
        <div class="error-box">
            ⚠️ Login Failed: Please fix the errors below! (Your username or password might be incorrect).
        </div>
    {% endif %}
    {{ form.as_p }} 
    {%if request.GET.next%}
        <input type="hidden" name="next" value="{{request.GET.next}}">
    {%endif%}      
    <button type="submit">Login</button>
</form>
{% endblock %}